/* del link de Google font */

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  /* color del body */
  background-color: #afd275;
  /* centrado */
  align-items: center;
  display: flex;
  justify-content: center;
  /* altura vertical */
  height: 100vh;
  overflow-y: hidden;
}

.clock {
  position: absolute;
  /* reloj en el centro*/
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 60px;
  font-family: Orbitron;
  /* espacios de letras del reloj */
  letter-spacing: 7px;
  align-items: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin-right: 4rem;
  height: 500px;
  width: 550px;
  /* efecto reloj*/
  background-color: #afd275;
  box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
